* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-flow: column;
  /* justify-content: space-between; */
  /* height: 100vh;
  width: 100vw; */
  align-content: stretch;
  text-align: center;
  /* margin: 150px; */
}

.nc-logo {
  font-family: "Monoton", cursive;
  text-decoration: none;
  color: white;
}

.nc-logo-first-letters {
  font-family: "Monoton", cursive;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 640px) {
  .nc-logo-first-letters {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 590px) {
  .nc-logo-first-letters {
    font-size: 1.5em;
  }
}

/* @media screen and (max-width: 420px) {
  .nc-logo-first-letters {
    font-size: 1.4em;
  }
} */

@media screen and (max-width: 420px) {
  .nc-logo-first-letters {
    font-size: 1.3em;
  }
}

.header {
  /* height: 150px; */
  background-color: #083d77;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .header {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 590px) {
  .header {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 420px) {
  .header {
    font-size: 1.4em;
  }
}

.nav-bar {
  background-color: #fcbf49;
  font-weight: bold;
}

.topic-article-heading {
  font-size: 2.5em;
  padding: 0.5em 0em 0.1em 0;
  color: #353434;
}

.topics-nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.topics-navbar-list-array {
  text-decoration: none;
  color: #083d77;
}

.topics-navbar-list {
  display: inline;
  margin: 0.4em;
  text-decoration: none;
  list-style-type: none;
  /* padding: 5px; */
  background-color: #fcbf49;
  color: #000;
  cursor: pointer;
}

.topics-navbar-list-array:hover {
  color: grey;
}

@media screen and (max-width: 420px) {
  .topics-navbar-list-array:hover {
    color: #fff;
  }
}

.topics-navbar-list::first-letter {
  text-transform: uppercase;
}

.topics-navbar-list-selected {
  color: #fff;
}

.login-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logged-in-text {
  position: relative;
  font-size: 1em;
}

.login-btn {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  background-color: #ee964b;
  border: none;
  padding: 10px;
  margin: 0 10px 0 0;
  border-radius: 12px;
  cursor: pointer;
}

.login-btn:hover {
  color: #fff;
}

.login-btn:focus {
  outline: none;
  background-color: #ee964b;
}

.logout-btn {
  position: relative;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #f95738;
  border: none;
  padding: 10px;
  margin: 0 10px 0 0;
  border-radius: 12px;
  cursor: pointer;
}

.logout-btn:hover {
  color: #ee964b;
}

.logout-btn:focus {
  outline: none;
  background-color: #ee964b;
}

.topic-article-heading {
}
.sortBtn-container {
  display: flex;
  flex-wrap: wrap;
  /* align-self: center; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 420px) {
  .sortBtn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-self: center; */
  }
}

.sortBtn-btn {
  margin: 0 10px;
  text-decoration: none;
  background-color: #083d77;
  border: none;
  color: white;
  border-radius: 12px;
  margin: 0 2.5em 0 0;
  padding: 0.8em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .sortBtn-btn {
    margin: 2px;
    /* justify-self: center; */
  }
}

.sortBtn-btn:hover {
  background-color: #457b9d;
}

@media screen and (max-width: 420px) {
  .sortBtn-btn:hover {
    background-color: #f95738;
  }
}

.sortBtn-btn:focus {
  outline: none;
  background-color: #f95738;
}

.sortBtn-btn-selected {
  background-color: #f95738;
}

.central-area {
  background-color: #ebebd3;
  flex: 1;
}

.footer-section {
  align-self: flex-end;
}

.footer {
  /* height: 100px; */
  background-color: #f95738;
  padding: 20px;
  color: #fff;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: space-between; */
  font-weight: bold;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.welcome-page-text {
  padding: 0.3em;
}

.enter-site-btn {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  background-color: #ee964b;
  border: none;
  padding: 1em;
  margin: 4em;
  border-radius: 12px;
}

.enter-site-link {
  text-decoration: none;
  color: #fff;
}

.enter-site-btn:hover {
  background-color: #f95738;
}

.circular-progress-loader {
  padding: 6em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

.article-title {
  display: inline;
  margin: 0;
  padding: 0.1em;
  text-decoration: none;
  color: #083d77;
}

.article-title-single {
  display: inline;
  margin: 0;
  padding: 0.1em;
  text-decoration: none;
  color: #083d77;
}

.article-title:hover {
  color: #f95738;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  padding: 1em;
  border: 1px solid #083d77;
  margin: 2.5em;
  padding: 1em;
  border-radius: 12px;
}

@media screen and (max-width: 420px) {
  .article-container {
    grid-template-columns: 1fr;
  }
}

.article-container-content {
  grid-column: 1 / 1;
}

@media screen and (max-width: 420px) {
  .article-container-content {
    grid-template-columns: 1fr;
  }
}

.article-card-voteBtn {
  grid-column: 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 420px) {
  .article-card-voteBtn {
    grid-column: 1;
    margin-top: 10px;
  }
}

.article-date-comments {
  font-size: 0.8em;
  padding: 0.5em;
}

.article-author {
  text-decoration: none;
  color: #083d77;
}
.article-author:hover {
  color: #f95738;
}

.article-read-more {
  display: inline;
  font-size: 0.9em;
  text-decoration: none;
  color: #083d77;
}

.article-read-more:hover {
  color: #f95738;
}

.article-votes {
  display: inline-block;
  padding: 0.5em;
  border-radius: 12px;
  background-color: #f95738;
  font-weight: bold;
  width: 1em;
}

.article-votes-btn {
  font-size: 1.2em;
  background-color: #f95738;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .article-votes {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    padding: 0.3em;
    width: 4em;
    justify-content: space-between;
    align-items: center;
  }
}

.article-votes-btn-text {
  color: #fff;
}

.article-votes-btn:hover {
  color: #083d77;
}

.article-votes-btn:focus {
  outline: none;
}

.article-and-comments {
  padding: 2em;
}

@media screen and (max-width: 420px) {
  .article-and-comments {
    padding: 1em;
  }
}

.single-article-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  padding: 1em;
  border: 1px solid #083d77;
  margin: 0 2.5em 2.5em 2.5em;
  padding: 1em;
  border-radius: 12px;
  /* text-align: left; */
}

@media screen and (max-width: 420px) {
  .single-article-container {
    grid-template-columns: 1fr;
    margin: 0 1.5em 1.5em 1.5em;
  }
}

.article-body {
  text-align: left;
}

.comments-section {
  display: flex;
  flex-direction: column;
}

.add-comments-text {
  justify-content: left;
  align-items: left;
  margin-top: 1em;
  font-size: 2em;
}

.comments-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-body {
  text-align: left;
}

.comments-box-btn {
  margin: 0.5em;
  width: 2em;
}

.comments-submit-btn {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #ee964b;
  border: none;
  padding: 10px;
  border-radius: 12px;
}

.comments-submit-btn:disabled {
  background-color: #f1caa8;
  color: #afacac;
}

.comments-submit-btn:active {
  background-color: #f95738;
}

.comments-submit-btn:focus {
  outline: none;
}

.comment-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.comments-btn {
  align-self: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  color: #000;
  background-color: #fcbf49;
  border: none;
  margin-top: 0.5em;
  padding: 5px;
  border-radius: 12px;
}

.comments-btn:hover {
  background-color: #ee964b;
}

.comments-btn:focus {
  background-color: #f95738;
}

.comments-btn:focus {
  outline: none;
}

.comments-body-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  padding: 1em;
  border: 1px solid #083d77;
  margin: 1em;
  padding: 1em;
  border-radius: 12px;
}

@media screen and (max-width: 420px) {
  .comments-body-container {
    grid-template-columns: 1fr;
  }
}

.comment-vote-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 0 1em 0;
  margin-bottom: 5px;
}

.paginate-btn {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  background-color: #ee964b;
  border: none;
  padding: 5px;
  border-radius: 12px;
}

.paginate-btn:hover {
  background-color: #f95738;
}

.paginate-btn:focus {
  outline: none;
}

.paginate-page-text {
  margin: 0 5px;
}

.error-msg {
  padding: 4em 0 5em 0;
}
